<%- include('./partials/header3')%>
<div class="card">
    <div class="container1">
        <div class="playlist">
            <img src="./images/tyler.png" alt="tyler">
        </div>
        <div class="playlist">
            <img src="./images/am.png" alt="artick monkeys">
        </div>
        <div class="playlist">
            <img src="./images/tame.png" alt="tame impala">    
        </div>
        <div class="playlist">
            <img src="./images/thestrokes.png" alt="the strokes">
        </div>
    </div>
    <div class="buttons">
        <a href="player?album=album1">Tyler the Creator</a>
        <a href="player?album=album2">Arctic Monkeys</a>
        <a href="player?album=album3">Tame Impala</a>
        <a href="player?album=album4">The Strokes</a>
    </div>
    <div class="container2">
        <div class="playlist">
            <img src="./images/ye.png" alt="kanye west">
        </div>
        <div class="playlist">
            <img src="./images/coldplay.png" alt="coldplay">
        </div>
        <div class="playlist">
            <img src="./images/kendric.png" alt="kendric lamar">
        </div>
        <div class="playlist">
            <img src="./images/sza.png" alt="sza">
        </div>
    </div>
</div>
<div class="buttons">
    <a href="player?album=album5">Kanye West</a>
    <a href="player?album=album6">Coldplay</a>
    <a href="player?album=album7">Kendric Lamar</a>
    <a href="player?album=album8">SZA</a>
</div>
<%- include('./partials/footer')%>