<%- include('./partials/header2')%>
<div class="card">
    <div class="container">
        <div class="img">
            <img src="./images/Music-bro (1).png" alt="">
        </div>
        <div class="cadastro">
            <h2>Cadastre-se</h2>
            <form class="form" action="/create" method="post">
                <label  for="">Nome</label>
                    <input class="input" type="text" name="nome" placeholder="Nome" required>
                
                <label  for="">Email</label>
                    <input class="input" type="email" name="email" placeholder="Email" required>
                
                <label for="">Senha</label>
                    <input class="input" type="password" name="senha" placeholder="Senha" required>   
            
                <button type="submit" onclick="login()" class="cadastrar">Cadastrar</button>        
            </form>
        </div>
    </div>
</div>
<%- include('./partials/footer')%>