<%- include('./partials/header')%>
<div class="card">
  <div class="container">
          <div class="text">
              <h1>SoundWaves</h1>
              <h2>Ouça agora</h2>
              <p>As melhores músicas do momento</p>
              <button onclick="login()" class="entrar">Ouvir agora</button>
          </div>
          <div class="img">
              <img src="./images/Surfer-bro.png" alt="">
          </div>
  </div>
</div>
<%- include('./partials/footer')%>
