<%- include('./partials/header3')%>
<div class="cardPlayer">
    <div class="containerPlayer">
        <div id="imgPlayer">
            
        </div>
        <div class="controls">
            <audio id="audioPlayer" controls>
                <!-- O código do player de áudio vai aqui -->
            </audio>
            

        </div>
    </div>
</div>
<%- include('./partials/footer')%>